<div *ngIf = "alert.status" class=alert-warning role="alert">
  {{alert.message}}
  <button class="alert-warinig" (click) = 'alert.close()'>close</button>
</div>
<div class="container">

  <button class="btn btn-primary" [routerLink]="['/posts']">← go back</button>
  <h1 *ngIf = "post.id != 0" style="text-align: center">Edit post</h1>
  <h1 *ngIf = "post.id == 0" style="text-align: center">Create post</h1>

  <form>
    <div class="form-group">
      <h3>title </h3>
      <hr>
      <input class="form-control" id = "title"
      [(ngModel)]="post.title" name="title">
    </div>
    <div class="form-group">
      <h3>content</h3>
      <hr>
      <textarea rows="10"  id="body"  
      [(ngModel)]="post.body" name="body"></textarea>
    </div>
    <div *ngIf="post.id == 0" class="form-group">
        <h3>post as(enter existing username only):</h3>
        <hr>
        <input class="form-control" id="name"  
        [(ngModel)]="postingUser" name="postingUser">
    </div>
    

    <button *ngIf = "post.id != 0" class="btn btn-success" (click) = applyChanges()>apply changes</button>
    <button *ngIf = "post.id != 0" class="btn btn-danger" (click) = deletePost() 
      style = "float:right">
      delete post
    </button>
    <button *ngIf = "post.id == 0" class="btn btn-success" (click) = createPost()>create post</button>
    

  </form>
</div>