<div class="container">
  <h2 style="text-align: center">Edit post</h2>
  <form>
    <div class="form-group">
      <h3>title </h3>
      <hr>
      <input class="form-control" id = "title"
      [(ngModel)]="post.title" name="title">
    </div>
    <div class="form-group">
      <h3>content</h3>
      <hr>
      <input class="form-control" id="body"  
      [(ngModel)]="post.body" name="body">
    </div>
    <div *ngIf="post.id == 0" class="form-group">
        <h3>post as:</h3>
        <hr>
        <input class="form-control" id="name"  
        [(ngModel)]="postingUser" name="postingUser">
    </div>

    <button *ngIf = "post.id != 0" class="btn btn-success" (click) = applyChanges()>apply changes</button>
    <button *ngIf = "post.id != 0" class="btn btn-danger" (click) = deletePost() 
      style = "float:right">
      delete post
    </button>
    <button *ngIf = "post.id == 0" class="btn btn-success" (click) = createPost()>create post</button>
  </form>
</div>